{% extends 'layouts/default/page.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% block content %}

{% if request.user.is_authenticated %}


<div class="center-vertical card card-body bg-dark text-center">
    <h3>Update Information</h3>
    <h1>
        <hr />
        <button class="btn btn-info"><a
                href="{% url 'accounts:change_profile' %}">{% trans 'Change profile   ' %}</a></button>
        <hr />
        <button class="btn btn-success"><a
                href="{% url 'accounts:change_email' %}">{% trans 'Change email' %}</a></button>
        <hr />
        <button class="btn btn-danger"><a
                href="{% url 'accounts:change_password' %}">{% trans 'Change password' %}</a></button>
    </h1>
</div>


{% else %}

{% trans 'You are a guest.' %}

{% endif %}

{% endblock %}