{% extends 'layouts/default/page.html' %} {% load bootstrap4 %} {% load i18n %}
{% block content %} {% load static %}

<h1>Cataract</h1>
<div class="card dark-bg bg-dark container mt-3">
  <h2>
    <br />
    File Upload
    <hr class="bg-light" />
  </h2>
  <form>
    <p>Uploaded File:</p>
    <div class="custom-file mb-3">
      <input
        type="file"
        class="custom-file-input"
        id="customFile"
        name="filename"
        accept="image/*"
        onchange="loadFile(event)"
      />
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <div class="mt-3">
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
      <br />
    </div>
    <img id="output" height="30%" />
    <h2>Dummy text</h2>
  </form>
</div>

{% endblock %}
