{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="center-vertical" id="login">
        <form class="card card-body bg-dark" method="post">
 
            <h4>{% trans 'Change email' %}</h4>

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">{% trans 'Change' %}</button>

            <hr/>
            <p class = "tpbutton btn-toolbar text-center">
                <button class="btn btn-primary"><a href="{% url 'accounts:change_profile' %}">{% trans 'Change profile' %}</a></button>
                <button class="btn btn-danger"><a href="{% url 'accounts:change_password' %}">{% trans 'Change password' %}</a></button>
            </p>

        </form>
    </div>

{% endblock %}
